<!-- <div class="balloon" [innerHtml]="balloonSvg" [style.width.px]="size" [style.height.px]="size" [style.fill]="color"></div> -->

<!-- <div class="balloon" [innerHtml]="balloonSvg" [style.width.px]="size" [style.height.px]="size" [attr.fill]="color"></div> -->

<!-- <div class="balloon" [innerHtml]="balloonSvg" [style.width.px]="size" [style.height.px]="size" [attr.fill]="color" (click)="popBalloon()"></div> -->


<div class="balloon" [innerHtml]="balloonSvg" [style.width.px]="size" [style.height.px]="size" [attr.fill]="color" (click)="popBalloon()"></div>

